# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyd
*.so
*.dll

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pyre/
.pytype/

# Type checkers / Linters
.mypy_cache/
.ruff_cache/
.dmypy.json

# IDEs/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
*.log.*
# PyInstaller
*.manifest
*.spec

bot/actions/__pycache__/*
bot/core/__pycache__/*
bot/states/__pycache__/*
bot/web/__pycache__/*
bot/__pycache__/*

debug_captures/

